.telaDiscord {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 80px;
  align-items: center;

  h1 {
    font-size: 48px;
  }
}

.cads {
  display: grid;
  gap: 22px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  grid-template-columns: 580px 580px;
}
